@font-face {
    font-family:'Noto Sans';
    src: url(/fonts/NotoSansElbasan-Regular.ttf);
    font-style: normal;
    font-weight: 100;
}

p#out{
    font-family: Noto Sans;
}

p{
    font-size: 30px;
}